Repository iiasa/message-ix-models, pull requests merged in 2024-09, with the labels that each got.

#219 Fix naming of GDP and population columns in SSP data aggregation within `tools.costs`
  doc/whatsnew.rst
  message_ix_models/tools/costs/gdp.py
  message_ix_models/tools/wb.py
Labels: costs

#213 Transport improvements for 2024-W32
  .github/workflows/transport.yaml
  doc/conf.py
  doc/transport/index.rst
  doc/transport/input.rst
  doc/transport/old.rst
  doc/whatsnew.rst
  message_ix_models/data/sdmx/transport-in.xml
  message_ix_models/data/transport/R12/act-non_ldv.csv
  message_ix_models/data/transport/R12/config.yaml
  message_ix_models/data/transport/R12/freight-activity.csv
  message_ix_models/data/transport/R12/ldv-activity.csv
  message_ix_models/data/transport/R12/ldv-age.csv
  message_ix_models/data/transport/R12/ldv-inv_cost.csv
  message_ix_models/data/transport/R12/ldv-t-share.csv
  message_ix_models/data/transport/R12/lifetime-ldv.csv
  message_ix_models/data/transport/R12/load-factor-ldv.csv
  message_ix_models/data/transport/R12/mode-share/default.csv
  message_ix_models/data/transport/R12/pdt-cap-ref.csv
  message_ix_models/data/transport/R14/load-factor-ldv.csv
  message_ix_models/data/transport/act-non_ldv.csv
  message_ix_models/data/transport/base-scenario-url.json
  message_ix_models/data/transport/ldv-age.csv
  message_ix_models/data/transport/ldv-t-share.csv
  message_ix_models/data/transport/lifetime-ldv.csv
  message_ix_models/data/transport/mode-share/debug.csv
  message_ix_models/data/transport/set.yaml
  message_ix_models/data/transport/technology.yaml
  message_ix_models/model/transport/base.py
  message_ix_models/model/transport/build.py
  message_ix_models/model/transport/config.py
  message_ix_models/model/transport/data.py
  message_ix_models/model/transport/demand.py
  message_ix_models/model/transport/disutility.py
  message_ix_models/model/transport/factor.py
  message_ix_models/model/transport/files.py
  message_ix_models/model/transport/groups.py
  message_ix_models/model/transport/ldv.py
  message_ix_models/model/transport/non_ldv.py
  message_ix_models/model/transport/operator.py
  message_ix_models/model/transport/report.py
  message_ix_models/model/transport/testing.py
  message_ix_models/model/transport/workflow.py
  message_ix_models/project/advance/data.py
  message_ix_models/project/gea/data.py
  message_ix_models/project/shape/data.py
  message_ix_models/project/ssp/data.py
  message_ix_models/report/operator.py
  message_ix_models/tests/model/transport/test_base.py
  message_ix_models/tests/model/transport/test_build.py
  message_ix_models/tests/model/transport/test_data.py
  message_ix_models/tests/model/transport/test_disutility.py
  message_ix_models/tests/model/transport/test_files.py
  message_ix_models/tests/model/transport/test_ldv.py
  message_ix_models/tests/model/transport/test_operator.py
  message_ix_models/tests/model/transport/test_report.py
  message_ix_models/tests/test_util.py
  message_ix_models/tools/exo_data.py
  message_ix_models/tools/iea/web.py
  message_ix_models/util/__init__.py
  message_ix_models/util/ixmp.py
Labels: transport

#226 Expand ‘Reproducibility’ docs page
  doc/repro.rst
  doc/whatsnew.rst
Labels: doc, enh

#231 Fix snapshot tests
  message_ix_models/report/legacy/pp_utils.py
Labels: bug, ci

#232 Add CircEUlar
  .github/pull_request_template.md
  doc/api/tools.rst
  doc/index.rst
  doc/material/index.rst
  doc/project/circeular.rst
  doc/project/edits.rst
  doc/project/shape.rst
  doc/transport/index.rst
  doc/whatsnew.rst
  message_ix_models/cli.py
  message_ix_models/project/circeular/__init__.py
  message_ix_models/project/circeular/cli.py
  message_ix_models/tests/project/circeular/__init__.py
Labels: p:CircEUlar

#233 Extend SSP argument options
  doc/whatsnew.rst
  message_ix_models/util/click.py
Labels: enh, p:SSP-2024

#206 Change technology inputs and replace solar + wind technologies in `tools.costs`
  doc/whatsnew.rst
  message_ix_models/data/costs/energy/cost_reduction_energy.csv
  message_ix_models/data/costs/energy/first_year_energy.csv
  message_ix_models/data/costs/energy/scenarios_reduction_energy.csv
  message_ix_models/data/costs/energy/tech_map_energy.csv
  message_ix_models/data/technology.yaml
  message_ix_models/tests/model/test_bare.py
  message_ix_models/tests/model/test_structure.py
  message_ix_models/tests/tools/costs/test_decay.py
  message_ix_models/tests/tools/costs/test_projections.py
  message_ix_models/tests/tools/costs/test_regional_differentiation.py
Labels: costs
