Repository iiasa/message-ix-models, pull requests merged in 2024-11, with the labels that each got.

#242 Flexible setup of constraints for cooling technologies
  doc/water/index.rst
  doc/whatsnew.rst
  message_ix_models/data/water/ppl_cooling_tech/cool_techs_country_share.csv
  message_ix_models/data/water/ppl_cooling_tech/cool_techs_region_share.csv
  message_ix_models/data/water/ppl_cooling_tech/cool_techs_region_share_R11.csv
  message_ix_models/data/water/ppl_cooling_tech/cool_techs_region_share_R12.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_country.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg_R11.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg_R12.csv
  message_ix_models/data/water/set.yaml
  message_ix_models/data/water/technology.yaml
  message_ix_models/model/water/cli.py
  message_ix_models/model/water/data/water_for_ppl.py
  message_ix_models/model/water/data/water_supply.py
  message_ix_models/model/water/report.py
  message_ix_models/tests/model/water/data/test_water_for_ppl.py
Labels: water

#245 Replace resolved numpy workaround with dask workaround
  .github/workflows/pytest.yaml
  message_ix_models/model/water/data/demands.py
Labels: ci

#247 Update steel diffusion constraints
  message_ix_models/data/material/steel/Global_steel_MESSAGE.xlsx
Labels: material

#243 Update `water` to use cost projections from `tools.costs`
  doc/whatsnew.rst
  message_ix_models/data/costs/cooling/tech_map.csv
  message_ix_models/model/water/cli.py
  message_ix_models/model/water/data/water_for_ppl.py
  message_ix_models/tests/model/water/data/test_water_for_ppl.py
  message_ix_models/tests/util/test_click.py
  message_ix_models/util/click.py
Labels: water, costs

#252 Fix snapshot test environment variables
  .github/workflows/pytest-snapshots.yaml
Labels: ci

#253 Convert aluminum_trade.csv from Git LFS pointer
  doc/whatsnew.rst
  message_ix_models/data/material/aluminum/aluminum_trade.csv
  message_ix_models/model/material/data_aluminum.py
  message_ix_models/model/material/data_ammonia_new.py
  message_ix_models/model/material/data_power_sector.py
  message_ix_models/model/material/data_util.py
  message_ix_models/model/material/material_demand/material_demand_calc.py
  message_ix_models/model/material/util.py
Labels: bug, ci, material
