Repository iiasa/message-ix-models, pull requests merged in 2024-12, with the labels that each got.

#255 Add functionality in `tools.costs` to specify cost reduction scenarios and values
  doc/whatsnew.rst
  message_ix_models/data/costs/materials/cost_reduction.csv
  message_ix_models/data/costs/materials/scenarios_reduction.csv
  message_ix_models/tests/tools/costs/test_decay.py
  message_ix_models/tools/costs/decay.py
Labels: costs

#258 Fix issue with materials and cooling CCS technologies becoming cheaper than non-CCS counterpart
  doc/whatsnew.rst
  message_ix_models/data/costs/cooling/tech_map.csv
  message_ix_models/data/costs/materials/tech_map.csv
  message_ix_models/tests/tools/costs/test_projections.py
Labels: water, material, costs

#262 Change in SSP parameters and add missing csp data
  doc/whatsnew.rst
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_country.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg_R11.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg_R12.csv
  message_ix_models/data/water/ppl_cooling_tech/tech_water_performance_ssp_msg.csv
  message_ix_models/data/water/ssp.yaml
Labels: water

#263 Add custom cost reductions for steel and cement technologies
  message_ix_models/data/costs/materials/cost_reduction.csv
  message_ix_models/data/costs/materials/scenarios_reduction.csv
  message_ix_models/data/costs/materials/tech_map.csv
Labels: material, costs

#269 Remove `technology_type` column from `tools.costs`
  doc/whatsnew.rst
  message_ix_models/data/costs/energy/cost_reduction.csv
  message_ix_models/data/costs/materials/cost_reduction.csv
  message_ix_models/tools/costs/decay.py
Labels: costs
