Repository iiasa/message-ix-models, pull requests merged in 2024-10, with the labels that each got.

#218 Update MESSAGEix-Materials with new steel technologies
  doc/main.bib
  doc/material/index.rst
  doc/material/v1.1.0.rst
  doc/whatsnew.rst
  message_ix_models/data/level.yaml
  message_ix_models/data/material/aluminum/aluminum_techno_economic.xlsx
  message_ix_models/data/material/aluminum/aluminum_trade.csv
  message_ix_models/data/material/cement/CEMENT.BvR2010.xlsx
  message_ix_models/data/material/cement/Global_cement_MESSAGE.xlsx
  message_ix_models/data/material/cement/demand_cement.yaml
  message_ix_models/data/material/macro/macro_calibration_input_SSP2.xlsx
  message_ix_models/data/material/material.tar.gz
  message_ix_models/data/material/methanol/meth_coal_additions_fs.xlsx
  message_ix_models/data/material/methanol/meth_t_d_material_pars.xlsx
  message_ix_models/data/material/other/generic_furnace_boiler_techno_economic.xlsx
  message_ix_models/data/material/other/residual_industry_2019.csv
  message_ix_models/data/material/petrochemicals/petrochemicals_techno_economic.xlsx
  message_ix_models/data/material/set.yaml
  message_ix_models/data/material/steel/Global_steel_MESSAGE.xlsx
  message_ix_models/data/material/steel/STEEL_database_2012.xlsx
  message_ix_models/data/material/steel/demand_steel.yaml
  message_ix_models/data/material/steel/worldsteel_steel_trade.xlsx
  message_ix_models/data/material/steel_cement/CEMENT.BvR2010.xlsx
  message_ix_models/data/material/steel_cement/China_steel_cement_MESSAGE.xlsx
  message_ix_models/data/material/steel_cement/Global_steel_cement_MESSAGE.xlsx
  message_ix_models/data/material/steel_cement/STEEL_database_2012.xlsx
  message_ix_models/data/material/technology.yaml
  message_ix_models/data/relation/B.yaml
  message_ix_models/model/bare.py
  message_ix_models/model/config.py
  message_ix_models/model/material/bare.py
  message_ix_models/model/material/build.py
  message_ix_models/model/material/cli.py
  message_ix_models/model/material/data_aluminum.py
  message_ix_models/model/material/data_ammonia_new.py
  message_ix_models/model/material/data_buildings.py
  message_ix_models/model/material/data_cement.py
  message_ix_models/model/material/data_generic.py
  message_ix_models/model/material/data_methanol.py
  message_ix_models/model/material/data_methanol_new.py
  message_ix_models/model/material/data_petro.py
  message_ix_models/model/material/data_power_sector.py
  message_ix_models/model/material/data_steel.py
  message_ix_models/model/material/data_util.py
  message_ix_models/model/material/material_demand/material_demand_calc.py
  message_ix_models/model/material/report/reporting.py
  message_ix_models/model/material/util.py
  message_ix_models/testing/__init__.py
  message_ix_models/tests/model/material/test_build.py
  message_ix_models/tests/model/test_bare.py
  message_ix_models/tests/test_workflow.py
  message_ix_models/util/config.py
Labels: material

#227 Change decay to reach cost reduction specified by 2100 (instead of 2110) `tools.costs`
  doc/whatsnew.rst
  message_ix_models/tools/costs/decay.py
Labels: costs

#222 Add variant/module for cooling technologies in `tools.costs`
  doc/api/tools-costs.rst
  doc/whatsnew.rst
  message_ix_models/data/costs/cooling/tech_map.csv
  message_ix_models/tests/tools/costs/test_decay.py
  message_ix_models/tests/tools/costs/test_gdp.py
  message_ix_models/tests/tools/costs/test_projections.py
  message_ix_models/tests/tools/costs/test_regional_differentiation.py
  message_ix_models/tools/costs/config.py
  message_ix_models/tools/costs/regional_differentiation.py
Labels: water, costs

#239 Add scripts to modify "Low" and "Very Low" ScenarioMIP/SSP scenarios
  message_ix_models/data/ue-shares/trp_gas0.05.xlsx
  message_ix_models/data/ue-shares/trp_gas0.05_elec0.9.xlsx
  message_ix_models/project/ssp/script/__init__.py
  message_ix_models/project/ssp/script/scenarios/low.py
  message_ix_models/project/ssp/script/scenarios/very_low.py
  message_ix_models/project/ssp/script/util/__init__.py
  message_ix_models/project/ssp/script/util/functions.py
  message_ix_models/project/ssp/script/util/shares.py
Labels: p:SSP-2024
