Repository iiasa/message-ix-models, pull requests merged in 2025-06, with the labels that each got.

#362 Adjust to pandas 2.3.0
  doc/requirements.in
  doc/requirements.txt
  message_ix_models/model/buildings/build.py
  message_ix_models/project/navigate/wp2/util.py
Labels: bug, doc

#367 Limit ixmp4 < 0.11 in "pytest" CI workflow
  .github/workflows/pytest.yaml
Labels: ci

#355 Rewrite "Final Energy|*" IAMC variables
  doc/project/ssp.rst
  doc/whatsnew.rst
  message_ix_models/data/ceds/ceds_cmip7_Aircraft_intlShipping_byfuel_v_2025_03_18.csv
  message_ix_models/data/transport/emi-intensity.csv
  message_ix_models/project/ssp/cli.py
  message_ix_models/project/ssp/transport.py
  message_ix_models/tests/project/ssp/test_transport.py
Labels: enh, report, transport, p:SSP-2024
