Repository iiasa/message-ix-models, pull requests merged in 2025-08, with the labels that each got.

#388 Improve steel model
  .gitattributes
  doc/material/v1.2.0.rst
  doc/whatsnew.rst
  message_ix_models/data/material/aluminum/data_R12.csv
  message_ix_models/data/material/set.yaml
  message_ix_models/data/material/steel/Global_steel_MESSAGE.xlsx
  message_ix_models/data/material/steel/archived/Global_steel_MESSAGE.xlsx
  message_ix_models/data/material/steel/baseyear_calibration/bf_bound_2020.csv
  message_ix_models/data/material/steel/baseyear_calibration/bf_capacity.csv
  message_ix_models/data/material/steel/baseyear_calibration/bof_bound_2020.csv
  message_ix_models/data/material/steel/baseyear_calibration/bof_capacity.csv
  message_ix_models/data/material/steel/baseyear_calibration/dri_activity_2020.csv
  message_ix_models/data/material/steel/baseyear_calibration/dri_activity_hist.csv
  message_ix_models/data/material/steel/baseyear_calibration/dri_capacity_2020.csv
  message_ix_models/data/material/steel/baseyear_calibration/dri_capacity_hist.csv
  message_ix_models/data/material/steel/baseyear_calibration/eaf_bound_2020.csv
  message_ix_models/data/material/steel/baseyear_calibration/eaf_capacity.csv
  message_ix_models/data/material/steel/demand_2025.csv
  message_ix_models/data/material/steel/demand_projections.parquet
  message_ix_models/data/material/steel/demand_steel.yaml
  message_ix_models/data/material/steel/dri_coal.csv
  message_ix_models/data/material/steel/finishing_loss_ratio.csv
  message_ix_models/data/material/steel/relations_R12.csv
  message_ix_models/data/material/steel/steel_R12.csv
  message_ix_models/data/material/steel/timeseries_R12.csv
  message_ix_models/model/material/data_aluminum.py
  message_ix_models/model/material/data_steel.py
  message_ix_models/model/material/data_util.py
  message_ix_models/tests/model/material/test_data_steel.py
Labels: enh, material, p:SSP-2024

#380 Transport improvements from 2025-W30
  doc/index.rst
  doc/project/digsy.rst
  doc/project/edits.rst
  doc/transport/index.rst
  doc/whatsnew.rst
  message_ix_models/data/sdmx/IIASA_ECE_CL_TRANSPORT_SCENARIO(1.2.0).xml
  message_ix_models/data/transport/R12/elasticity-f.csv
  message_ix_models/data/transport/R12/pdt-cap.csv
  message_ix_models/data/transport/R12/pdt-cap/DIGSY-BEST.csv
  message_ix_models/data/transport/R12/pdt-cap/DIGSY-WORST.csv
  message_ix_models/data/transport/R12/pdt-cap/EDITS-CA.csv
  message_ix_models/data/transport/R12/pdt-cap/LED.csv
  message_ix_models/model/transport/config.py
  message_ix_models/model/transport/data.py
  message_ix_models/model/transport/demand.py
  message_ix_models/project/digsy/__init__.py
  message_ix_models/project/digsy/structure.py
  message_ix_models/project/edits/__init__.py
  message_ix_models/project/edits/structure.py
  message_ix_models/tests/model/transport/test_build.py
  message_ix_models/tests/model/transport/test_config.py
  message_ix_models/tests/model/transport/test_workflow.py
  message_ix_models/tests/project/test_digsy.py
  message_ix_models/tests/project/test_edits.py
Labels: enh, transport

#408 Adjust test_disutility for message_ix#451
  message_ix_models/tests/model/test_disutility.py
Labels: bug, ci
