Repository iiasa/message-ix-models, pull requests merged in 2025-03, with the labels that each got.

#301 Adjust code owners for `.tools.costs`
  .github/CODEOWNERS
Labels: costs

#303 Add function entrypoint to `.ssp.transport`
  doc/project/ssp.rst
  doc/whatsnew.rst
  message_ix_models/project/ssp/cli.py
  message_ix_models/project/ssp/transport.py
  message_ix_models/tests/project/ssp/test_transport.py
  message_ix_models/tools/iamc.py
Labels: enh, p:SSP-2024

#309 Adapt to modified "Emissions|*|Aviation|*" variable names in `.ssp.transport`
  doc/project/ssp.rst
  doc/whatsnew.rst
  message_ix_models/data/test/report/SSP_LED_v2.3.1_baseline.csv
  message_ix_models/project/ssp/transport.py
  message_ix_models/report/operator.py
  message_ix_models/tests/project/ssp/test_transport.py
  message_ix_models/util/common.py
Labels: enh, report, transport, p:SSP-2024

#316 Update refinery hydrogen level and CCS bounds
  message_ix_models/data/material/petrochemicals/petrochemicals_techno_economic.xlsx
  message_ix_models/data/material/set.yaml
  message_ix_models/model/material/data_ammonia_new.py
Labels: material, p:SSP-2024

#318 Relax DAC growth constraints
  message_ix_models/data/ccs-dac/daccs_setup_data_leddev.yaml
  message_ix_models/data/ccs-dac/daccs_setup_data_ssp1dev.yaml
  message_ix_models/data/ccs-dac/daccs_setup_data_ssp2dev.yaml
  message_ix_models/data/ccs-dac/daccs_setup_data_ssp4dev.yaml
  message_ix_models/data/ccs-dac/daccs_setup_data_ssp5dev.yaml
  message_ix_models/project/ssp/script/util/functions.py
Labels: p:SSP-2024

#320 Fix Code Quality CI: checkout action and complex function
  .github/workflows/pytest.yaml
  message_ix_models/model/bare.py
  message_ix_models/model/disutility.py
  message_ix_models/model/material/cli.py
  message_ix_models/model/structure.py
  message_ix_models/model/transport/build.py
  message_ix_models/model/water/data/water_for_ppl.py
  message_ix_models/project/edits/__init__.py
  message_ix_models/project/ssp/structure.py
  message_ix_models/report/operator.py
  message_ix_models/tests/model/test_disutility.py
  message_ix_models/tests/model/test_macro.py
  message_ix_models/tests/model/test_structure.py
  message_ix_models/tests/tools/costs/test_gdp.py
  message_ix_models/tests/util/test_sdmx.py
  message_ix_models/tools/iamc.py
  message_ix_models/tools/wb.py
  message_ix_models/util/sdmx.py
Labels: ci
