Repository iiasa/message-ix-models, pull requests merged in 2025-04, with the labels that each got.

#322 Adjust packaging of Git LFS artefacts
  .github/workflows/publish.yaml
  doc/api/tools-costs.rst
  doc/data.rst
  doc/project/ssp.rst
  doc/whatsnew.rst
  message_ix_models/project/ssp/data.py
  message_ix_models/util/config.py
  pyproject.toml
Labels: bug, ci

#312 Adding doc for project GEIDCO (Phase IV)
  doc/project/geidco.rst
  doc/whatsnew.rst
Labels: doc, p:GEIDCO

#325 Derive aviation final energy share from solved MESSAGEix-Transport scenarios
  .github/workflows/pytest.yaml
  doc/project/ssp.rst
  doc/whatsnew.rst
  message_ix_models/cli.py
  message_ix_models/model/transport/base.py
  message_ix_models/model/transport/build.py
  message_ix_models/model/transport/config.py
  message_ix_models/model/transport/structure.py
  message_ix_models/model/transport/workflow.py
  message_ix_models/project/ssp/cli.py
  message_ix_models/project/ssp/transport.py
  message_ix_models/testing/__init__.py
  message_ix_models/tests/project/ssp/test_transport.py
  message_ix_models/tests/tools/iea/test_web.py
  message_ix_models/util/context.py
  message_ix_models/util/genno.py
Labels: enh, report, transport, p:SSP-2024

#326 Adjust usage of message-static-data for IEA, SSP inputs
  .github/workflows/pytest.yaml
  .gitignore
  MANIFEST.in
  doc/api/util.rst
  doc/data.rst
  doc/howto/index.rst
  doc/howto/path.rst
  doc/whatsnew.rst
  message_ix_models/data/ssp/1706548837040-ssp_basic_drivers_release_3.0_full.csv.gz
  message_ix_models/data/ssp/1710759470883-ssp_basic_drivers_release_3.0.1_full.csv.gz
  message_ix_models/data/test/iea/web/372f7e29-en.zip
  message_ix_models/data/test/iea/web/8624f431-en.zip
  message_ix_models/data/test/iea/web/cac5fa90-en.zip
  message_ix_models/project/ssp/data.py
  message_ix_models/testing/__init__.py
  message_ix_models/tests/project/ssp/test_transport.py
  message_ix_models/tests/project/test_ssp.py
  message_ix_models/tests/tools/iea/test_eei.py
  message_ix_models/tests/tools/iea/test_web.py
  message_ix_models/tools/iea/eei.py
  message_ix_models/tools/iea/web.py
  message_ix_models/util/pooch.py
  pyproject.toml
Labels: doc, enh

#330 Two adjustments to `.project.ssp.transport`
  doc/whatsnew.rst
  message_ix_models/model/transport/operator.py
  message_ix_models/project/ssp/transport.py
  message_ix_models/report/operator.py
  message_ix_models/tests/project/ssp/test_transport.py
Labels: enh, report, transport, p:SSP-2024
