Repository iiasa/message-ix-models, pull requests merged in 2025-01, with the labels that each got.

#272 Add initial code owners
  .github/CODEOWNERS
  doc/Makefile
  doc/develop.rst
  doc/whatsnew.rst
Labels: doc, enh

#278 Add code owners for `.workflow`
  .github/CODEOWNERS
  doc/api/workflow.rst
Labels: doc, enh

#281 Update CI and code quality
  .github/workflows/pytest-snapshots.yaml
  .github/workflows/pytest.yaml
  .pre-commit-config.yaml
  doc/conf.py
  message_ix_models/model/material/material_demand/material_demand_calc.py
  message_ix_models/model/transport/base.py
  message_ix_models/model/transport/config.py
  message_ix_models/model/transport/files.py
  message_ix_models/model/transport/ikarus.py
  message_ix_models/model/transport/ldv.py
  message_ix_models/model/transport/non_ldv.py
  message_ix_models/model/transport/operator.py
  message_ix_models/model/transport/plot.py
  message_ix_models/model/transport/report.py
  message_ix_models/model/transport/roadmap.py
  message_ix_models/model/transport/testing.py
  message_ix_models/model/transport/workflow.py
  message_ix_models/model/water/build.py
  message_ix_models/model/water/cli.py
  message_ix_models/model/water/report.py
  message_ix_models/project/edits/__init__.py
  message_ix_models/project/engage/workflow.py
  message_ix_models/project/gea/data.py
  message_ix_models/report/__init__.py
  message_ix_models/report/config.py
  message_ix_models/report/legacy/iamc_report_hackathon.py
  message_ix_models/report/operator.py
  message_ix_models/report/plot.py
  message_ix_models/testing/cli.py
  message_ix_models/tests/model/test_build.py
  message_ix_models/tests/model/test_disutility.py
  message_ix_models/tests/model/transport/test_build.py
  message_ix_models/tests/model/transport/test_data.py
  message_ix_models/tests/model/transport/test_demand.py
  message_ix_models/tests/model/transport/test_ldv.py
  message_ix_models/tests/model/transport/test_report.py
  message_ix_models/tests/model/transport/test_ustimes_ma3t.py
  message_ix_models/tests/tools/test_wb.py
  message_ix_models/tests/util/test_sdmx.py
  message_ix_models/tools/exo_data.py
  message_ix_models/tools/gfei.py
  message_ix_models/tools/iea/eei.py
  message_ix_models/tools/iea/web.py
  message_ix_models/tools/wb.py
  message_ix_models/types.py
  message_ix_models/util/__init__.py
  message_ix_models/util/cache.py
  message_ix_models/util/click.py
  message_ix_models/util/common.py
  message_ix_models/util/config.py
  message_ix_models/util/context.py
  message_ix_models/util/migrate.py
  message_ix_models/util/sdmx.py
  pyproject.toml
Labels: enh, ci

#283 Fix envvar name in snapshot CI
  .github/workflows/pytest-snapshots.yaml
Labels: ci

#271 Move DAC module's `tools.costs` assumptions into their own CSV files
  message_ix_models/data/costs/dac/cost_reduction.csv
  message_ix_models/data/costs/dac/scenarios_reduction.csv
  message_ix_models/data/costs/energy/cost_reduction.csv
  message_ix_models/data/costs/energy/scenarios_reduction.csv
  message_ix_models/tools/costs/decay.py
  message_ix_models/tools/costs/regional_differentiation.py
Labels: costs, p:SSP-2024

#287 Clean up MESSAGEix-Materials for ScenarioMIP
  doc/material/whatsnew.rst
  message_ix_models/data/material/aluminum/LED/aluminum_techno_economic.xlsx
  message_ix_models/data/material/aluminum/SSP1/aluminum_techno_economic.xlsx
  message_ix_models/data/material/aluminum/SSP2/aluminum_techno_economic.xlsx
  message_ix_models/data/material/aluminum/SSP3/aluminum_techno_economic.xlsx
  message_ix_models/data/material/aluminum/SSP4/aluminum_techno_economic.xlsx
  message_ix_models/data/material/aluminum/SSP5/aluminum_techno_economic.xlsx
  message_ix_models/data/material/aluminum/aluminum_techno_economic.xlsx
  message_ix_models/data/material/aluminum/data_R12.csv
  message_ix_models/data/material/aluminum/raw/MetallurgicalAluminaRefiningFuelConsumption_1985-2023_File_8CountryOrRegion.csv
  message_ix_models/data/material/aluminum/raw/bgs_production/alumina/2015-22.xlsx
  message_ix_models/data/material/aluminum/raw/bgs_production/aluminum/1970-78.xlsx
  message_ix_models/data/material/aluminum/raw/bgs_production/aluminum/1979-89.xlsx
  message_ix_models/data/material/aluminum/raw/bgs_production/aluminum/1990-2000.xlsx
  message_ix_models/data/material/aluminum/raw/bgs_production/aluminum/2001-11.xlsx
  message_ix_models/data/material/aluminum/raw/bgs_production/aluminum/2010-22.xlsx
  message_ix_models/data/material/aluminum/raw/smelters-with 2022 projection.xls
  message_ix_models/data/material/aluminum/relations_R12.csv
  message_ix_models/data/material/aluminum/timeseries_R12.csv
  message_ix_models/data/material/cement/LED/Global_cement_MESSAGE.xlsx
  message_ix_models/data/material/cement/SSP1/Global_cement_MESSAGE.xlsx
  message_ix_models/data/material/cement/SSP2/Global_cement_MESSAGE.xlsx
  message_ix_models/data/material/cement/SSP3/Global_cement_MESSAGE.xlsx
  message_ix_models/data/material/cement/SSP4/Global_cement_MESSAGE.xlsx
  message_ix_models/data/material/cement/SSP5/Global_cement_MESSAGE.xlsx
  message_ix_models/data/material/cement/cement_R12.csv
  message_ix_models/data/material/cement/timeseries_R12.csv
  message_ix_models/data/material/reporting/fe_reporting_aggregates.yaml
  message_ix_models/data/material/steel/Global_steel_MESSAGE.xlsx
  message_ix_models/data/material/steel/LED/Global_steel_MESSAGE.xlsx
  message_ix_models/data/material/steel/SSP1/Global_steel_MESSAGE.xlsx
  message_ix_models/data/material/steel/SSP2/Global_steel_MESSAGE.xlsx
  message_ix_models/data/material/steel/SSP3/Global_steel_MESSAGE.xlsx
  message_ix_models/data/material/steel/SSP4/Global_steel_MESSAGE.xlsx
  message_ix_models/data/material/steel/SSP5/Global_steel_MESSAGE.xlsx
  message_ix_models/data/material/steel/archived/Global_steel_MESSAGE.xlsx
  message_ix_models/data/material/steel/relations_R12.csv
  message_ix_models/data/material/steel/steel_R12.csv
  message_ix_models/data/material/steel/timeseries_R12.csv
  message_ix_models/data/material/steel_cement/SSP1/Global_steel_cement_MESSAGE.xlsx
  message_ix_models/data/material/steel_cement/SSP2/Global_steel_cement_MESSAGE.xlsx
  message_ix_models/data/material/steel_cement/SSP3/Global_steel_cement_MESSAGE.xlsx
  message_ix_models/data/material/steel_cement/SSP4/Global_steel_cement_MESSAGE.xlsx
  message_ix_models/data/material/steel_cement/SSP5/Global_steel_cement_MESSAGE.xlsx
  message_ix_models/model/material/data_aluminum.py
  message_ix_models/model/material/data_cement.py
  message_ix_models/model/material/data_steel.py
  message_ix_models/model/material/data_util.py
  message_ix_models/model/material/report/run_reporting.py
Labels: material, p:SSP-2024

#259 Transport improvements from 2024-W49
  doc/api/data-sources.rst
  doc/api/util.rst
  doc/conf.py
  doc/project/ssp.rst
  doc/transport/index.rst
  doc/transport/input.rst
  doc/whatsnew.rst
  message_ix_models/data/emission.yaml
  message_ix_models/data/sdmx/IIASA_ECE_CL_TRANSPORT_SCENARIO(1.0.0).xml
  message_ix_models/data/transport/R12/act-non_ldv.csv
  message_ix_models/data/transport/R12/config.yaml
  message_ix_models/data/transport/R12/freight-activity.csv
  message_ix_models/data/transport/R12/freight-mode-share-ref.csv
  message_ix_models/data/transport/R12/mode-share/default.csv
  message_ix_models/data/transport/base-scenario-url.json
  message_ix_models/data/transport/emi-intensity.csv
  message_ix_models/data/transport/technology.yaml
  message_ix_models/model/transport/build.py
  message_ix_models/model/transport/config.py
  message_ix_models/model/transport/demand.py
  message_ix_models/model/transport/files.py
  message_ix_models/model/transport/freight.py
  message_ix_models/model/transport/ldv.py
  message_ix_models/model/transport/non_ldv.py
  message_ix_models/model/transport/operator.py
  message_ix_models/model/transport/structure.py
  message_ix_models/model/transport/testing.py
  message_ix_models/model/transport/workflow.py
  message_ix_models/project/ssp/cli.py
  message_ix_models/project/ssp/transport.py
  message_ix_models/testing/__init__.py
  message_ix_models/testing/check.py
  message_ix_models/tests/model/transport/test_build.py
  message_ix_models/tests/model/transport/test_demand.py
  message_ix_models/tests/model/transport/test_report.py
  message_ix_models/tests/project/ssp/test_transport.py
  message_ix_models/tests/tools/iea/test_web.py
  message_ix_models/tools/iea/web.py
  message_ix_models/types.py
  message_ix_models/util/genno.py
  message_ix_models/util/sdmx.py
Labels: transport, p:SSP-2024

#288 Check out correct ref in "pytest" CI workflow
  .github/workflows/pytest.yaml
  README.rst
  doc/conf.py
  doc/whatsnew.rst
  message_ix_models/model/transport/config.py
  message_ix_models/model/transport/ldv.py
  message_ix_models/model/transport/testing.py
  message_ix_models/project/ssp/cli.py
  message_ix_models/report/__init__.py
  message_ix_models/testing/__init__.py
  message_ix_models/tests/model/transport/test_build.py
  message_ix_models/tests/model/transport/test_data.py
  message_ix_models/tests/model/transport/test_ikarus.py
  message_ix_models/tests/model/transport/test_ldv.py
  message_ix_models/tests/model/transport/test_report.py
  message_ix_models/tests/project/ssp/test_transport.py
  message_ix_models/tests/util/test_context.py
  message_ix_models/types.py
  message_ix_models/util/_dataclasses.py
  message_ix_models/util/cache.py
  message_ix_models/util/context.py
  message_ix_models/util/scenarioinfo.py
  pyproject.toml
Labels: bug, ci
