Repository iiasa/message-ix-models, pull requests merged in 2025-05, with the labels that each got.

#340 Merge part of `ssp-dev`
  doc/index.rst
  doc/project/scenariomip.rst
  doc/project/ssp.rst
  doc/whatsnew.rst
  message_ix_models/data/ue-shares/trp_gas0.05.xlsx
  message_ix_models/data/ue-shares/trp_gas0.05_elec0.9.xlsx
  message_ix_models/project/ssp/script/__init__.py
  message_ix_models/project/ssp/script/scenarios/low.py
  message_ix_models/project/ssp/script/scenarios/very_low.py
  message_ix_models/project/ssp/script/util/__init__.py
  message_ix_models/project/ssp/script/util/functions.py
  message_ix_models/project/ssp/script/util/shares.py
  pyproject.toml
Labels: enh, p:SSP-2024

#346 Adjust for click v8.2.0
  message_ix_models/tests/model/material/test_build.py
  message_ix_models/tests/util/test_importlib.py
  message_ix_models/util/click.py
  message_ix_models/util/common.py
  message_ix_models/util/importlib.py
Labels: enh, ci

#328 Transport improvements from 2025-W15
  doc/transport/input.rst
  doc/whatsnew.rst
  message_ix_models/data/sdmx/IIASA_ECE_CL_TRANSPORT_SCENARIO(1.0.0).xml
  message_ix_models/data/transport/R12/act-non_ldv.csv
  message_ix_models/data/transport/R12/elasticity-f.csv
  message_ix_models/data/transport/R12/elasticity-p.csv
  message_ix_models/data/transport/R12/freight-activity.csv
  message_ix_models/data/transport/R12/freight-mode-share-ref.csv
  message_ix_models/data/transport/R12/ldv-inv_cost.csv
  message_ix_models/data/transport/R12/load-factor-ldv.csv
  message_ix_models/data/transport/R12/speed.csv
  message_ix_models/data/transport/constraint-dynamic.csv
  message_ix_models/data/transport/set.yaml
  message_ix_models/data/transport/technology.yaml
  message_ix_models/model/transport/base.py
  message_ix_models/model/transport/build.py
  message_ix_models/model/transport/config.py
  message_ix_models/model/transport/constraint.py
  message_ix_models/model/transport/data.py
  message_ix_models/model/transport/disutility.py
  message_ix_models/model/transport/freight.py
  message_ix_models/model/transport/ldv.py
  message_ix_models/model/transport/operator.py
  message_ix_models/model/transport/other.py
  message_ix_models/model/transport/passenger.py
  message_ix_models/model/transport/report.py
  message_ix_models/model/transport/structure.py
  message_ix_models/model/transport/testing.py
  message_ix_models/model/transport/util.py
  message_ix_models/model/transport/workflow.py
  message_ix_models/report/operator.py
  message_ix_models/testing/__init__.py
  message_ix_models/testing/check.py
  message_ix_models/tests/model/transport/test_build.py
  message_ix_models/tests/model/transport/test_demand.py
  message_ix_models/tests/model/transport/test_ldv.py
  message_ix_models/tests/model/transport/test_report.py
  message_ix_models/tests/model/transport/test_workflow.py
  message_ix_models/tests/project/ssp/test_transport.py
  message_ix_models/tests/test_workflow.py
  message_ix_models/tests/util/test_common.py
  message_ix_models/tests/util/test_node.py
  message_ix_models/tools/iea/web.py
  message_ix_models/util/__init__.py
  message_ix_models/util/common.py
  message_ix_models/util/importlib.py
Labels: enh, transport

#333 Improve aviation emissions postprocessing
  doc/whatsnew.rst
  message_ix_models/data/emission.yaml
  message_ix_models/data/transport/emi-intensity.csv
  message_ix_models/project/ssp/transport.py
  message_ix_models/tests/project/ssp/test_transport.py
Labels: enh, report, transport, p:SSP-2024

#345 Improve aluminum model
  doc/material/v1.2.0.rst
  doc/whatsnew.rst
  message_ix_models/data/material/aluminum/alu_ref_int_1985_2023.csv
  message_ix_models/data/material/aluminum/aluminum_techno_economic.xlsx
  message_ix_models/data/material/aluminum/archived/aluminum_techno_economic.xlsx
  message_ix_models/data/material/aluminum/data_R12.csv
  message_ix_models/data/material/aluminum/demand_2025.csv
  message_ix_models/data/material/aluminum/demand_aluminum.xlsx
  message_ix_models/data/material/aluminum/demand_aluminum.yaml
  message_ix_models/data/material/aluminum/raw/MetallurgicalAluminaRefiningFuelConsumption_1985-2023.csv
  message_ix_models/data/material/aluminum/raw/bgs_production/alumina/2015-22.xlsx
  message_ix_models/data/material/aluminum/raw/bgs_production/aluminum/1970-78.xlsx
  message_ix_models/data/material/aluminum/raw/bgs_production/aluminum/1979-89.xlsx
  message_ix_models/data/material/aluminum/raw/bgs_production/aluminum/1990-2000.xlsx
  message_ix_models/data/material/aluminum/raw/bgs_production/aluminum/2001-11.xlsx
  message_ix_models/data/material/aluminum/raw/bgs_production/aluminum/2010-22.xlsx
  message_ix_models/data/material/aluminum/raw/smelters-with 2022 projection.xls
  message_ix_models/data/material/aluminum/relations_R12.csv
  message_ix_models/data/material/aluminum/timeseries_R12.csv
  message_ix_models/data/material/other/generic_furnace_boiler_techno_economic.xlsx
  message_ix_models/data/material/set.yaml
  message_ix_models/model/material/build.py
  message_ix_models/model/material/data_aluminum.py
  message_ix_models/model/material/data_generic.py
  message_ix_models/model/material/data_petro.py
  message_ix_models/model/material/data_util.py
  message_ix_models/model/material/util.py
  message_ix_models/tests/model/material/test_build.py
  message_ix_models/tests/model/material/test_data_aluminum.py
  pyproject.toml
Labels: material

#350 Migrate .engage.workflow and related tools
  .github/workflows/pytest.yaml
  doc/api/tools.rst
  doc/buildings/index.rst
  doc/conf.py
  doc/index.rst
  doc/project/engage.rst
  doc/project/navigate.rst
  doc/whatsnew.rst
  message_ix_models/cli.py
  message_ix_models/data/alps/granular-techs_cost_comparison_20170831_revAG_SDS_5year.xlsx
  message_ix_models/data/alps/solar_wind_intermittency_20170831_5year.xlsx
  message_ix_models/data/alps/useful_level_fuel_potential_contribution_20170907_5year.xlsx
  message_ix_models/data/buildings/set.yaml
  message_ix_models/data/navigate/scenarios.yaml
  message_ix_models/data/test/buildings/prices.csv
  message_ix_models/data/test/buildings/sturm/report_NAVIGATE_SSP2_comm_R12.csv
  message_ix_models/data/test/buildings/sturm/report_NAVIGATE_SSP2_resid_R12.csv
  message_ix_models/model/buildings/__init__.py
  message_ix_models/model/buildings/build.py
  message_ix_models/model/buildings/cli.py
  message_ix_models/model/buildings/rc_afofi.py
  message_ix_models/model/buildings/report.py
  message_ix_models/model/buildings/sturm.py
  message_ix_models/project/engage/__init__.py
  message_ix_models/project/navigate/__init__.py
  message_ix_models/project/navigate/cli.py
  message_ix_models/project/navigate/report.py
  message_ix_models/project/navigate/workflow.py
  message_ix_models/project/navigate/wp2/__init__.py
  message_ix_models/project/navigate/wp2/util.py
  message_ix_models/testing/__init__.py
  message_ix_models/tests/model/test_buildings.py
  message_ix_models/tests/project/navigate/__init__.py
  message_ix_models/tests/project/navigate/test_wp2_util.py
  message_ix_models/tests/project/test_navigate.py
  message_ix_models/tests/test_tools.py
  message_ix_models/tools/add_AFOLU_CO2_accounting.py
  message_ix_models/tools/add_CO2_emission_constraint.py
  message_ix_models/tools/add_FFI_CO2_accounting.py
  message_ix_models/tools/add_alternative_TCE_accounting.py
  message_ix_models/tools/add_budget.py
  message_ix_models/tools/add_emission_trajectory.py
  message_ix_models/tools/add_tax_emission.py
  message_ix_models/tools/remove_emission_bounds.py
  message_ix_models/tools/update_h2_blending.py
  pyproject.toml
Labels: enh
